VITE_API_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyB8mJtIoCG_y_ANrsX8QZAXpdKQa59e92A
VITE_FIREBASE_AUTH_DOMAIN=tk-horticultural.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tk-horticultural
VITE_FIREBASE_STORAGE_BUCKET=tk-horticultural.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1097635512071
VITE_FIREBASE_APP_ID=1:1097635512071:web:c8c960d943d01ff17d0fa2
VITE_FIREBASE_MEASUREMENT_ID=G-FGT1KNRVRF
